<header>
	<!-- La barre de navigation -->
	<nav class="navbar navbar-fixed-top navbar-expand-lg navbar-light z-depth-2 mb-5">
                <a class="navbar-brand " href="#"><img src="{{ asset('img/naxagoras.png') }}" width="80" height="30" alt="Naxagoras"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
	<!-- {# <nav class="navbar navbar-fixed-top navbar-expand-lg navbar-light z-depth-2 mb-5">
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button> #} -->
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mx-auto">
				<li class="nav-item mx-1 dropdown">
					<a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown"
						aria-haspopup="true" aria-expanded="false">home	</a>
					<ul class="dropdown-menu">
						<li class="dropdown-submenu">
							<a class="dropdown-item dropdown-toggle" href="#">
							</a>
							<ul class="dropdown-menu">

								<li class="dropdown-submenu">
									<a class="dropdown-item dropdown-toggle" href="#">
									</a>
									<ul class="dropdown-menu">
										<li>
											<a class="dropdown-item" href="{{ i.route }}">{{ i.nom }}</a>
										</li>
									</ul>
								</li>

								<li><a class="dropdown-item" href="{{ link.route }}">{{ link.nom }}</a></li>

							</ul>
						</li>
							<li class="nav-item mx-1"><a class="nav-link" href="{{ item.route }}">{{ item.nom }}</a>
							</li>
					</ul>
				</li>
				{% elseif menuitem.parent is null %}
				<li class="nav-item mx-1"><a class="nav-link" href="{{ menuitem.route }}">{{ menuitem.nom }}</a></li>
				{% endif %}
				{% endfor %}
			</ul>
		</div>
	</nav>
	{# {{ dump(menu) }} #}
</header>